* {
  box-sizing: border-box;
}

body {

}

/*Header content*/

header {
  background-color: #ffffff;
  border: #cccccc solid 2px;
  color: #ffffff; 
  /* width: 100%;
  height: auto; */
}

/*Nav Bar content*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Heading content*/

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color:  #4aaaa5;
  padding: 20px;
  margin: 20px;
  text-align: center;
  float: left;
}

/*Main content*/


.main-container {
  position: relative;
  margin-top: 120px;
  margin: 0 auto;
  width:  960px;
  background-image: url("concrete-text.png");
  background-color: #ffffff;
  border: #dddddd solid 2px;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#bio-image {
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}


/*Footer content*/

footer {
  background-color: #666666;
}

