* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("../images/concrete-texture.png");
  margin: 0;
  padding: 0;
}

/*Header content*/

header {
  position: relative;
  background-color: #ffffff;
  border: #cccccc solid 2px;
  /* color: #ffffff;  */
  width: 100%;
  height: 85px;
  padding: 20px;
}

/*Nav Bar content*/

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Heading content*/

#logo-name {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #4aaaa5;
  padding: 20px;
  margin: 20px;
  text-align: center;
  float: left;
  color: #ffffff;
}

#about-me {
  position: absolute;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #4aaaa5;
  padding: 20px;
  margin: 20px;
  text-align: center;
  float: left;
  color: #ffffff;

}

/*Main content*/


#main-container {
  position: relative;
  /*min-height take out???*/
  /* min-height: 100vh; */
  padding-top: 30px;
  width: 960px;
  background-image: url("concrete-text.png");
  background-color: #ffffff;
  border: #dddddd solid 3px;
  color: #777777;
}

#wrapper {
  padding-bottom: 2.5rem;
} 

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  line-height: 35px;
  padding: 20px;
}

#bio-image {
  float: left;
  margin: 20px 20px 20px 50px;
  width: 245px;
  height: 245px;
  padding: 5px;

}


/*Footer content*/

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto; 
  background-color: #666666;
}

#copyright {
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}